<div class="d-flex justify-content-end mb-2">
          <a href="/produto/create" class="btn btn-warning">Novo Produto</a>
</div>
<table class="table table-striped">
    <thead>
        <tr>
            <th>Nome</th>
            <th>Preço</th>
            <th>Opções</th>
        </tr>
    </thead>
    <tbody>
        {{#each produtos}}
            <tr>
                <td>{{nome}}</td>
                <td>{{preco}}</td>
                <td></td>
            </tr>
        {{/each}}
    </tbody>
</table>

 