<table class="table table-striped">
    <thead>
        <tr>
            <th>Nome</th>
            <th>Preço</th>
            <th>Opções</th>
        </tr>
    </thead>
    <tbody>
        {{#each produtos}}
            <tr>
                <td>{{nome}}</td>
                <td>{{preco}}</td>
                <td></td>
            </tr>
        {{/each}}
    </tbody>
</table>