
p{
    width: 400px;
    background-color: rgb(135, 126, 126);
    padding: 15px;
    font-size: 20px;
    border : 5px solid black;
    border-top-right-radius: 50px;
    border-bottom-left-radius: 50px;
}