<!DOCTYPE html>

<html>
    <head>
        <title>ModuloExpress</title>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="stylesheet" href="./css/style.css">
    </head>
    <body class="container">
        <header class="head">
            <h1>ModuloExpress</h1>
            <nav>
                <ul>
                    <li><a href="/">Inicio</a></li>
                    <li><a href="">Acerca de</a></li>
                    <li><a href="">Contacto</a></li>
                </ul>
            </nav>
        </header>
        <aside class="aside">
            <h2>menu</h2>   
        </aside>    
        <main class="main">
             {{{body}}}
        </main>
        <aside class="aside">
            <h2>menu</h2>   
        </aside>
        <footer class="footer">
            <p>ModuloExpress &copy; 2021</p>
        </footer>
       
    </body>
</html>