<!DOCTYPE html>

<html>
    <head>
        <title>ModuloExpress</title>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="stylesheet" href="/css/style.css">
    </head>
    <body>
        <div class="container">
            <header>
                <h1>ModuloExpress</h1>
                <ul>
                    <li><a href="/">Inicio</a></li>
                    <li><a href="">Acerca de</a></li>
                    <li><a href="">Contacto</a></li>
                </ul>
            </header>
            <aside>
                <h2>menu</h2>   
            </aside>    
            <main>
                {{{body}}}
            </main>
            <nav>
                <ul>
                    <li><a href="">Item1</a></li>
                    <li><a href="">Item2</a></li>
                    <li><a href="">Item3</a></li>
                </ul>
            </nav>
            
            <footer>
                <p>ModuloExpress &copy; 2021</p>
            </footer>
        </div>
    </body>
</html>