body {
    margin: 0;
    padding: 0;
    background-color: rgb(255, 255, 255);
    box-sizing: border-box;
}

.container {
    display: grid;
    grid-template-columns: 1fr 3fr 1fr;
    grid-template-rows: 1fr 3fr 1fr;
    width: 100vw;
    height: 100vh;
    grid-template-areas: 
    "cabeçalho cabeçalho cabeçalho"
    "lado texto nav"
    "rodape rodape rodape";
    gap: 5px;
}
.container header{
    grid-area: cabeçalho;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    padding: 3px;
}

header ul{
    display: flex;
    flex-direction: row;
    list-style: none;
    justify-content: center;
    align-items: center;
    gap: 10px;
    padding: 0;
    margin-left: 20px;
    margin-top: 30px;
}

.container aside {
    grid-area: lado;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 3px;
}

.container nav {
    grid-area: nav;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 3px;
}

.container main{
    grid-area: texto;
    display: flex;
    justify-content: center;
    align-items: center;
}

.container footer{
    grid-area: rodape;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 3px;
}